<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

</html>

<html>

<head>
  <meta charset="utf-8">
  <title>Janken GAME!</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>

  <div th:if="${room}">
    エントリー
    <ul>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>

  <p>
    [[${name}]]
  <div th:if="${room.users}">
    Hi <span sec:authentication="name"></span>
  </div>
  <div>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Thoki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
  </div>
  </p>
  <div th:if="${hand}">
    <p>
      あなたの手 [[${hand}]]
    </p>
    <p>
      相手の手 [[${aihand}]]
    </p>
    <p>
      結果 [[${result}]]
    </p>
  </div>
  </p>
</body>

</html>
