<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

</html>

<html>

<head>
  <meta charset="utf-8">
  <title>Janken GAME!</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>

  <!-- <div th:if="${room}">
    エントリー
    <ul>-->
  <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
  <!-- <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>-->

  <p>
    [[${name}]]
  <div th:if="${room.users}">
    Hi <span sec:authentication="name"></span>
  </div>

  <p th:if="${Users}">
  <h1>エントリー</h1>
  <ul>
    <li th:each="users,stat:${Users}"><a th:href="@{/match(id=${users.id})}"> [[${users.name}]]</a></li>
  </ul>
  </p>

  <h1>アクティブな試合</h1>
  <p th:if="${MatchInfo}">
  <div th:each="matchinfo,stat:${MatchInfo}">
    <tr>
      <td>id:[[${matchinfo.id}]]</td>
      <td>user1:[[${matchinfo.user1}]]</td>
      <td>user2:[[${matchinfo.user2}]]</td>
      <td>isActive:[[${matchinfo.isActive}]]</td>
    </tr>
  </div>
  </p>

  <p th:if="${MUsers}">
  <h1>試合結果</h1>
  <div th:each="match,stat:${Matchs}">
    <tr>
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手[[${match.user1Hand}]]</td>
      <td>user2の手[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>
</body>

</html>
