<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken GAME!</title>
</head>

<body>

  <p>
    <!--yourName変数が渡された場合のみdivタグの中身を表示する-->
  <div th:if="${yourName}">
    Hi![[${yourName}]]
  </div>
  <div>
    (gu)
    <a href="/jankengame?hand=Gu">ぐー</a>
  </div>
  <div>
    (thoki)
    <a href="/jankengame?hand=Thoki">ちょき</a>
    <div>
      (pa)
      <a href="/jankengame?hand=Pa">ぱー</a>
    </div>
    </p>
    <!--hand変数が渡された場合のみdivタグの中身を表示する-->
    <div th:if="${hand}">
      あなたの手 [[${hand}]]
      相手の手 [[${aihand}]]
      結果 [[${result}]]
    </div>

</body>

</html>
